* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

main {
  width: 99vw;
  min-height: 100vh;
  background-color: lightblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
}

.header {
  display: flex;
  position: static;
  flex-direction: column;
}
.header h2 {
  background-color: #0d0058;
  color: #fff;
}
.header .cerrarsesion {
  font-size: 1rem;
}

h1 {
  text-align: center;
  font-size: 2.1rem;
  background-color: #0d0058;
  color: #fff;
  padding: 30px 0;
}

.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  contain: paint;
}
.contenedor .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}
.contenedor .contenedor-items .item {
  max-width: fit-content;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}
.contenedor .contenedor-items .item .img-item {
  width: 100%;
}
.contenedor .contenedor-items .item:hover {
  box-shadow: 0 0 10px #666;
  transform: scale(1.05);
}
.contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
}
.contenedor .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.contenedor .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #0d0058;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* seccion carrito */
.carrito {
  border: 1px solid #666;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky;
  top: 0;
  transition: 0.3s;
  /* Estilos para ocultar */
  opacity: 0;
}
.carrito .header-carrito {
  background-color: #0d0058;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
.carrito .carrito-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}
.carrito .carrito-item img {
  margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo {
  display: block;
  padding-right: 40px;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad {
  display: inline-block;
  margin: 25px;
}
.carrito .carrito-item .selector-cantidad .carrito-item-cantidad {
  border: none;
  font-size: 1.1rem;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}
.carrito .carrito-item .selector-cantidad i {
  font-size: 1.1rem;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #0d0058;
  cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 1.1rem;
  margin: 5px;
}
.carrito .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #0d0058;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #0d0058;
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
  margin: 10px;
}
.carrito .carrito-item .btn-eliminar i {
  pointer-events: none;
}
.carrito .carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
}
.carrito .carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.carrito .carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: #0d0058;
  color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.carrito .carrito-total .btn-pagar:hover {
  transform: scale(1.05);
}

.costo-titulo .costo-precio {
  font-size: 0.1rem;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 903px) {
  .header {
    display: block;
    position: static;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .carrito {
    height: 20%;
    width: 100%;
    position: initial;
    display: block;
    z-index: 2;
    padding: 0px;
    background-color: #fff;
  }
}
.form {
  border: solid #0d0058 5px;
  border-radius: 10px;
  background-color: rgb(242, 255, 120);
  width: fit-content;
  padding: 1%;
}

.colocar_nombre .colocar_email .colocar_contrasena {
  font-size: 0.8rem;
}

.enviar-form {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  align-self: center;
  justify-self: center;
  border: solid 2px;
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
