/* SECCION RESPONSIVE */
@media screen and (max-width: 903px) {
  .header{
    display: block;
    position: static;
  }
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .carrito {
      height: 20%;
      width: 100%;
      position: initial;
      display: block;
      z-index: 2;
      padding: 0px;
      background-color: #fff;
    }
  }